<div class="row" style="width: 99vw;">
    <div class="datosIn">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-cash-coin"></i>
                    Ingreso de gasto
                </div>
                <div class="card-body">
                    <div class="form-group" class="campoEntrada">
                        <input type="number" class="form-control" placeholder="Monto">
                    </div>
                    <div class="form-group" class="campoEntrada">
                        <input type="text" class="form-control" placeholder="Descripción corta">
                    </div>
                    <div class="form-group" style="padding-top: 1rem;">
                        <select type="text" class="form-select">
                            <option selected>Seleccione una categoría</option>
                            <option value="1">Comida</option>
                            <option value="2">Arriendo</option>
                            <option value="3">Internet</option>
                        </select>
                    </div>
                    <div class="form-group" class="campoEntrada">
                        <input type="date" class="form-control" placeholder="Fecha">
                    </div>
                    <div class="form-group" class="d-flex flex-row-reverse campoEntrada">
                        <button class="btn btn-dark">
                            <i class="bi bi-floppy2-fill save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="datosOut">
        <div class="container hrVertical">
            <div class="divTitulo">
                <h3 class="tituloOut">Reporte de gastos</h3>
            </div>
            <i class="bi bi-cash-coin iconReporte"></i>
            <br>    
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Semanal</th>
                        <th scope="col">Mensual</th>
                        <th scope="col">Anual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>